body {
	padding:0px;
	margin:0px;
	font-family:Arial;
	background-color:black;
	color:white;
}

header {
	background-color:#5a5acc;
	border: 5px solid #5555c2;
	padding:10px;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:10000;
}

nav {
	float:right;
}

a {
	color:gainsboro;
	font-weight:bold;
	/*font-size:25px;*/
	text-decoration:none;
}

a:hover {
	color:white;
}

#header {
	margin:0px;
	background-image:url("images/header.png");
	background-repeat:no-repeat;
	background-size:110%;
	height:200px;
	width:100%;
	text-align:center;
	color:white;
	position:absolute;
	padding-top:100px;
}

footer {
	margin: 0px;
    background-color: #131d5e;
    width: 99%;
    border: 6px solid #0d133d;
}